body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Fuzzy Bubbles', cursive;

    .bg {
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
        opacity: 0.1;
    }

    .qa {
        text-align: center;
        margin-top: 30px;


        .TextTyping {
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 10px;
            animation-delay: 5s;
            text-shadow: 4px 4px 0 lightgray;
        }

        .TextTyping span {
            display: none;
        }

        /*文字列後ろの線の設定*/
        .TextTyping::after {
            content: "|";
            animation: typinganime .9s ease infinite;
        }

        @keyframes typinganime {
            from {
                opacity: 0
            }

            to {
                opacity: 1
            }
        }
    }

    .resbtnContents {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        position: relative;

        img {
            width: 100px;
            position: absolute;
            bottom: 27px;
            z-index: 1;

        }
    }

    .runBtn {
        display: flex;
        justify-content: center;
        // margin-bottom: 40px;
    }

    .result {
        font-size: 25px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: bold;
        text-shadow: 2px 2px 0 gray;
        // background-color: rgba(255, 255, 255, 0.3);
    }

    button {
        text-align: center;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        width: 150px;
        height: 40px;
        cursor: pointer;

        font-weight: bold;
        background: #fff;
        border: 3px solid #333;
        box-shadow: 0 5px 0 #333;
        border-radius: 6px;
        display: inline-block;
        transition: .3s;
    }

    button:hover {
        transform: translateY(5px);
        box-shadow: 0 0 0 #333;
    }

    .runContents {
        display: flex;
        align-items: flex-end;
        position: relative;
        top: 60px;

        .snoopyHouse {
            width: 280px;
            height: auto;
            position: absolute;
            right: 10%;
            // bottom: -80px;
            // z-index: 2;
            // 犬小屋から出てきてるように見える
            .house1.hide {
                opacity: 0;
                position: absolute;
            }
            .house1 {
                opacity: 1;
                position: absolute;
                top: 60px;
                width: 250px;
                height: auto;
            }
            .house2.hide {
                opacity: 0;
            }
        }

        .snoopyContents.hide {
            opacity: 0;
            display: flex;
            // align-items: center; 
            transform: translateX(1040px);
        }

        .snoopyContents {
            opacity: 1;
            display: flex;
            // align-items: center;
            // justify-content: flex-start;
            transform: translateX(300px);
            transition: all 2s ease;


        }

        .snoopy {
            img {

                width: 250px;
                height: auto;
            }
        }

        .snoopyTxt {
            img {
                transform: rotate(35deg);
                position: absolute;
                top: -60px;
            }

            p {
                position: absolute;
                top: -20px;
                left: 305px;
                width: 180px;
            }


        }


        .charlieContens.hide {
            opacity: 0;
            display: flex;
            // align-items: center;
            transform: translateX(800px);
        }

        .charlieContens {
            opacity: 1;
            transform: translateX(550px);
            transition: all 1.5s ease;
        }

        .charlieBrown {
            img {
                width: auto;
                height: 330px;
            }
        }

        .charlieTxt {
            img {
                transform: rotate(-25deg);
                position: absolute;
                top: -35px;
                right: 200px;
            }

            p {
                position: absolute;
                top: 30px;
                right: 210px;
                width: 200px;

            }
        }

        .charlieTxt {
            width: 250px;
            height: auto;
        }
    }


    // ここが最後
}