body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Fuzzy Bubbles', cursive;

    .qa {
        text-align: center;
        margin-top: 100px;
        // margin-bottom: 10px;

        .TextTyping {
            font-size: 38px;
            margin-bottom: 10px;
        }

        .TextTyping span {
            display: none;
        }

        /*文字列後ろの線の設定*/
        .TextTyping::after {
            content: "|";
            animation: typinganime .9s ease infinite;
        }

        @keyframes typinganime {
            from {
                opacity: 0
            }

            to {
                opacity: 1
            }
        }
    }

    .resbtnContents {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100px;
        }
    }

    .runBtn {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .result {
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    button {
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        width: 150px;
        height: 40px;
    }

    .runContents {
        display: flex;
        align-items: flex-end;
        position: relative;
        top: 333px;

        .snoopyHouse {
            width: 250px;
            height: auto;
            position: absolute;
            right: 10%;
            // bottom: -80px;

            // z-index: 2;
            // 犬小屋から出てきてるように見える
        }

        .snoopyContents.hide {
            // opacity: 0;
            display: flex;
            align-items: center;
            position: absolute;
            left: 72%;

            .snoopy {
                img {

                    width: 250px;
                    height: auto;
                }
            }

            .snoopyTxt {
                img {
                    transform: rotate(45deg);
                    height: auto;
                    position: absolute;
                    top: -95px;
                }

                p {
                    position: absolute;
                    top: -70px;
                    left: 350px;
                }


            }
        }


        .snoopyContents {
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: absolute;
            left: 15%;
        }


        .charlieContens.hide {
            // opacity: 0;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            position: absolute;
            right: 10%;

            .charlieBrown {
                img {

                    width: auto;
                    height: 320px;
                }
            }

            .charlieTxt {
                img {
                    transform: rotate(-25deg);
                    position: absolute;
                    top: -80px;
                    right: 200px;
                }

                p {
                    position: relative;
                    top: -135px;
                    right: 50px;

                }
            }
        }

        .charlieConten {
            opacity: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            right: 30%;
        }

        .snoopyTxt.hide,
        .charlieTx.hide {
            img {
                width: 300px;
                height: auto;
                z-index: -1;
            }
        }

        .snoopyTxt,
        .charlieTxt {
            img {
                width: 300px;
                height: auto;
                z-index: -1;
            }
        }

    }

    // ここが最後
}